[Desktop Entry]
Name=conTVLauncher
Exec=/usr/bin/conTVLauncher
Icon=/usr/share/conWhatsapp/resources/app/conTVLauncher.png
Type=Application
Categories=GTK;GNOME;Utility;